###  Speed Dating Data Analysis
#### Team Members:   Onyinye Ihedero, Sai Manoj Gaddipati, Esha Somavarapu
####    Source of Data:   www.kaggle.com
####    Packages Used : Numpy, Pandas, Tabpy(not full fledged)
####    Softwares Used:  Anaconda, Jupyter Notebook in Anaconda, Tableau Software, MS-Office.

In [1]:
import numpy as np
import pandas as pd

In [85]:
data=pd.read_table("speedData.csv", sep=',')
data_reqRow=data[['age', 'gender', 'field_cd', 'race', 'imprace', 'imprelig', 'income', 'goal','date','samerace' , 'race_o', 'go_out', 'career_c', 'attr1_1', 'sinc1_1', 'intel1_1',
                   'fun1_1', 'amb1_1', 'shar1_1', 'satis_2', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'you_call', 'them_cal', 'date_3',
                    'num_in_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3']]
data_reqRow

,age,gender,field_cd,race,imprace,imprelig,income,goal,date,samerace,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,1,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,21.0,0,1.0,4.0,2.0,4.0,"69,487.00",2.0,7.0,0,...,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,24.0,0,1.0,2.0,2.0,5.0,"65,929.00",1.0,5.0,1,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,25.0,0,2.0,2.0,8.0,4.0,NaN,6.0,3.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8348,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8349,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8350,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8351,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8352,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8353,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8354,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8355,27.0,1,8.0,1.0,2.0,1.0,"55,138.00",1.0,6.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8356,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8357,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8358,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8359,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8360,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8361,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8362,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8363,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8364,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8365,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8366,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8367,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8368,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8369,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8370,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8371,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8372,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,1,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8373,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8374,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8375,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8376,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0
8377,25.0,1,18.0,2.0,1.0,1.0,NaN,1.0,2.0,0,...,2.0,0.0,0.0,1.0,70.0,0.0,20.0,10.0,0.0,0.0

In [86]:
import numpy as np

data_reqRow = data_reqRow[np.logical_not(np.isnan(data_reqRow.attr1_s))]
data_reqRow = data_reqRow.reset_index(drop=True)
data_reqRow

#To output to .csv do this
data_reqRow.to_csv('OutputFinal.csv', index=False)

In [87]:
#doing group by ages and getting the count for each one
data_count_age=data_reqRow.groupby('age').agg('count').reset_index()
data_count_age#.head()

#notes for the output below:
    #we can see that the attendance is more for ages between 22 and 30. The population for ages beyond that is sparse.

,age,gender,field_cd,race,imprace,imprelig,income,goal,date,samerace,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,20.0,15,15,15,15,15,0,15,15,15,...,0,0,0,0,0,0,0,0,0,0
1,21.0,60,60,60,60,60,29,60,60,60,...,29,29,29,0,19,19,19,19,19,19
2,22.0,257,257,257,257,257,157,257,257,257,...,101,101,101,0,41,41,41,41,41,41
3,23.0,362,362,362,362,362,176,362,362,362,...,244,244,244,53,117,117,117,117,117,117
4,24.0,480,480,480,480,480,229,480,480,480,...,210,210,210,42,113,113,113,113,113,113
5,25.0,484,484,484,484,484,255,484,484,484,...,226,226,226,50,166,166,166,166,166,166
6,26.0,447,447,447,447,447,300,447,429,447,...,264,264,264,37,141,141,141,141,141,141
7,27.0,560,560,560,560,560,242,560,560,560,...,226,226,226,75,140,140,140,140,140,140
8,28.0,415,415,415,415,415,190,415,415,415,...,147,147,147,19,49,49,49,49,49,49
9,29.0,329,329,329,329,329,140,329,329,329,...,168,168,168,14,122,122,122,122,122,122
10,30.0,234,234,234,234,234,184,234,234,234,...,61,61,61,15,25,25,25,25,25,25
11,31.0,89,89,89,89,89,51,89,89,89,...,89,89,89,20,33,33,33,33,33,33
12,32.0,106,106,106,106,106,41,106,106,106,...,56,56,56,0,36,36,36,36,36,36
13,33.0,89,89,89,89,89,25,89,89,89,...,70,70,70,0,70,70,70,70,70,70
14,34.0,82,82,82,82,82,37,82,82,82,...,46,46,46,0,36,36,36,36,36,36
15,35.0,10,10,10,10,10,0,10,10,10,...,0,0,0,0,0,0,0,0,0,0
16,36.0,22,22,22,22,22,22,22,22,22,...,0,0,0,0,0,0,0,0,0,0
17,37.0,5,5,5,5,5,0,5,5,5,...,5,5,5,0,0,0,0,0,0,0
18,38.0,19,19,19,19,19,19,19,19,19,...,19,19,19,0,19,19,19,19,19,19
19,42.0,20,20,20,20,20,20,20,20,20,...,20,20,20,0,0,0,0,0,0,0
20,55.0,6,6,6,6,6,6,6,6,6,...,0,0,0,0,0,0,0,0,0,0

In [88]:
#doing group by gender and getting the count for each one
data_count_gender=data_reqRow.groupby('gender').agg('count').reset_index()
data_count_gender#.head()

#notes:
    #number of females=4141
    #number of males=4174

,gender,age,field_cd,race,imprace,imprelig,income,goal,date,samerace,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,0,2031,2031,2031,2031,2031,1290,2031,2031,2036,...,1065,1065,1065,230,613,613,613,613,613,613
1,1,2060,2060,2060,2060,2060,833,2060,2042,2060,...,921,921,921,95,514,514,514,514,514,514

In [89]:
#doing group by race and getting the count for each one
data_count_race=data_reqRow.groupby('race').agg('count').reset_index()
data_count_race#.head()

#notes on results:
    #heres the race description:
        #Black/African American=1                    (420)
        #European/Caucasian-American=2               (4727)
        #Latino/Hispanic American=3                  (664)
        #Asian/Pacific Islander/Asian-American=4     (1982)
        #Native American=5                           (0)
        #Other=6                                     (522)
    #it can be noted that the population of Native Americans is 0, no one attended.

,race,age,gender,field_cd,imprace,imprelig,income,goal,date,samerace,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,1.0,242,242,242,242,242,143,242,242,242,...,40,40,40,20,0,0,0,0,0,0
1,2.0,2349,2349,2349,2349,2349,1366,2349,2331,2349,...,1273,1273,1273,142,703,703,703,703,703,703
2,3.0,309,309,309,309,309,104,309,309,309,...,109,109,109,21,89,89,89,89,89,89
3,4.0,953,953,953,953,953,356,953,953,953,...,437,437,437,92,269,269,269,269,269,269
4,6.0,238,238,238,238,238,154,238,238,238,...,122,122,122,50,66,66,66,66,66,66

In [90]:
#doing group by categorised careers and getting the count for each one
data_count_career=data_reqRow.groupby('career_c').agg('count').reset_index()
data_count_career#.head()

#the count results are written in brackets
#classification details for career:
    #1= Lawyer                              
    #2= Academic/Research                   
    #3= Psychologist                        
    #4= Doctor/Medicine                     
    #5=Engineer                             
    #6= Creative Arts/Entertainment         
    #7= Banking/Consulting/Finance/Marketing/
    #      Business/CEO/Entrepreneur/Admin
    #8= Real Estate                 
    #9= International/Humanitarian Affairs 
    #10= Undecided                          
    #11=Social Work             
    #12=Speech Pathology            
    #13=Politics                    
    #14=Pro sports/Athletics                
    #15=Other               
    #16=Journalism          
    #17=Architecture

,career_c,age,gender,field_cd,race,imprace,imprelig,income,goal,date,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,1.0,162,162,162,162,162,162,47,162,162,...,85,85,85,0,55,55,55,55,55,55
1,2.0,1319,1319,1319,1319,1319,1319,716,1319,1319,...,753,753,753,149,435,435,435,435,435,435
2,3.0,93,93,93,93,93,93,66,93,93,...,47,47,47,0,27,27,27,27,27,27
3,4.0,208,208,208,208,208,208,78,208,208,...,83,83,83,0,57,57,57,57,57,57
4,5.0,45,45,45,45,45,45,0,45,45,...,0,0,0,0,0,0,0,0,0,0
5,6.0,411,411,411,411,411,411,252,411,411,...,199,199,199,60,123,123,123,123,123,123
6,7.0,1254,1254,1254,1254,1254,1254,603,1254,1254,...,565,565,565,67,251,251,251,251,251,251
7,8.0,39,39,39,39,39,39,21,39,21,...,0,0,0,0,0,0,0,0,0,0
8,9.0,247,247,247,247,247,247,144,247,247,...,100,100,100,35,50,50,50,50,50,50
9,10.0,129,129,129,129,129,129,53,129,129,...,49,49,49,0,49,49,49,49,49,49
10,11.0,108,108,108,108,108,108,108,108,108,...,51,51,51,14,51,51,51,51,51,51
11,13.0,21,21,21,21,21,21,0,21,21,...,0,0,0,0,0,0,0,0,0,0
12,15.0,55,55,55,55,55,55,35,55,55,...,49,49,49,0,29,29,29,29,29,29

## I am adding samerace and race_o back into the dataset at the beginning itself.

In [91]:
#doing group by "if preferring partner from same race" and getting the count for each one
data_count_samerace=data_reqRow.groupby('samerace').agg('count').reset_index()
data_count_samerace#.head()

#notes:
    #

,samerace,age,gender,field_cd,race,imprace,imprelig,income,goal,date,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,0,2387,2392,2387,2387,2387,2387,1185,2387,2384,...,1087,1087,1087,206,612,612,612,612,612,612
1,1,1704,1704,1704,1704,1704,1704,938,1704,1689,...,899,899,899,119,515,515,515,515,515,515

In [92]:
#doing group by categorised careers and getting the count for each one
data_count_partner_race=data_reqRow.groupby('race_o').agg('count').reset_index()
data_count_partner_race#.head()

,race_o,age,gender,field_cd,race,imprace,imprelig,income,goal,date,...,you_call,them_cal,date_3,num_in_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3
0,1.0,250,250,250,250,250,250,130,250,249,...,120,120,120,19,58,58,58,58,58,58
1,2.0,2370,2372,2370,2370,2370,2370,1249,2370,2355,...,1146,1146,1146,189,645,645,645,645,645,645
2,3.0,302,303,302,302,302,302,152,302,302,...,143,143,143,30,84,84,84,84,84,84
3,4.0,934,936,934,934,934,934,469,934,932,...,451,451,451,70,260,260,260,260,260,260
4,6.0,230,230,230,230,230,230,121,230,230,...,125,125,125,17,80,80,80,80,80,80

In [93]:
#which race thinks it is more important to date the same race:
res=data_reqRow.pivot_table(index='race', values='imprace', aggfunc=np.mean)
print(res)
res.to_csv('raceVimprace.csv')
#Note on Results:
    #no race thinks it is extremely important to date someone form the same race.
    #the only race that feels more important to date their same race is: 
        #European-Caucasian/American with an average imprace of 4.29

       imprace
race
1.0   3.404959
2.0   4.295445
3.0   2.724919
4.0   2.774397
6.0   2.436975

In [94]:
#which age thinks it is more important to date the same race:
res2=data_reqRow.pivot_table(index='age', values='imprace', aggfunc=np.mean)
res2.to_csv('ageVimprace.csv')
res2

#there is a strong response from ages 35, 37, and 42 
    #although the number of people who participated is less for these age groups

       imprace
age
20.0  1.000000
21.0  2.166667
22.0  4.575875
23.0  4.607735
24.0  3.370833
25.0  3.452479
26.0  4.071588
27.0  3.955357
28.0  4.289157
29.0  3.355623
30.0  2.243590
31.0  2.258427
32.0  2.339623
33.0  1.910112
34.0  4.329268
35.0  5.000000
36.0  1.000000
37.0  6.000000
38.0  4.000000
42.0  5.000000
55.0  1.000000

In [95]:
#which age thinks it is more important to date the same race:
res3=data_reqRow.pivot_table(index='race', values='imprelig', aggfunc=np.mean)
res3.to_csv('ageVimprace.csv')
res3

      imprelig
race
1.0   2.805785
2.0   3.902512
3.0   3.757282
4.0   2.844701
6.0   3.563025

In [96]:
#which age thinks it is more important to date people from same religion:
res4=data_reqRow.pivot_table(index='age', values='imprelig', aggfunc=np.mean)
res4.to_csv('ageVimprelig.csv')
res4

      imprelig
age
20.0  1.000000
21.0  1.166667
22.0  5.105058
23.0  3.914365
24.0  3.662500
25.0  3.938017
26.0  3.297539
27.0  3.639286
28.0  2.891566
29.0  3.200608
30.0  3.478632
31.0  2.932584
32.0  3.141509
33.0  3.685393
34.0  3.048780
35.0  5.000000
36.0  6.454545
37.0  1.000000
38.0  6.000000
42.0  1.000000
55.0  1.000000

In [105]:
res6=data_reqRow.pivot_table(index='gender', values=['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1'], aggfunc=np.mean)
res5.to_csv('start.csv')
res6

           amb1_1    attr1_1     fun1_1   intel1_1    shar1_1    sinc1_1
gender
0       13.265194  17.068272  17.534328  20.485505  13.374894  18.272733
1        9.691189  24.841345  17.796908  19.176592  11.546859  16.933335

In [103]:
res5=data_reqRow.pivot_table(index='gender', values=['attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2'], aggfunc=np.mean)
res5.to_csv('after.csv')
res5

          amb7_2   attr7_2     fun7_2   intel7_2    shar7_2    sinc7_2
gender
0       9.905967  26.65035  17.559441  16.680070  13.709790  16.213382
1       7.677019  32.96146  19.981744  15.845842  10.774327  13.033126

In [74]:
#we can do the same thing for which race prefers which race but I am a little confused about which variable is the preferred race varaiable4
# here are the variables I am confused about:
    #samerace:  	participant and the partner were the same race. 1= yes, 0=no

    #age_o:		age of partner

    #race_o:		race of partner

    #pf_o_att: 	partner’s stated preference at Time 1 (attr1_1) for all 6 attributes

In [75]:
data_reqRow.to_csv('data_with.csv')